{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <h2 style="padding-left: 600px;">Expanse History</h2>
    
</div>

<div class="container" style="padding-left: 30%; padding-top:2%">
    <form method="POST">
        {%csrf_token%}
        From:<input type="date" name="fromdate"/>
        To:<input type="date" name="todate"/>
        <input type="submit" value="search"/>
    </form>    
</div>
<div class="container" style="align-content: center">
    <div class="row w-85 ml-5" style="margin-left: 10%; margin-top: 3%;">
        <table class="table">
            <thead class="thead-dark text-center">
                <tr>
                    
                    <th scope="col">Expanse Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expanse in Fhistory %}
                <tr class="text-center">
                    <td>{{ expanse.Type }}</td>
                    <td>{{ expanse.Amount }}</td>
                    <td>{{ expanse.Date }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Data Action">
                            <a class="btn btn-primary mr-2"
                                href="{% url 'expense_history:edit' id=expanse.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'expense_history:delete' id=expanse.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
        {% endblock %}